.page {
    font-family: 'Lunar Escape', sans-serif;
    background: #fdfdfd;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #212121;
    color: #fff;
    justify-content: center;
    align-items: center;
}

#nav-container {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

#nav-container.open .bg {
    visibility: visible;
    opacity: 1;
}

.bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.button {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above everything */
}

.icon-bar {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    transition: 0.3s;
}

#nav-container.open .button .icon-bar:nth-of-type(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#nav-container.open .button .icon-bar:nth-of-type(2) {
    opacity: 0;
}

#nav-container.open .button .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#nav-content {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ececec;
    transition: 0.3s;
    z-index: 999;
    padding: 20px;
}

#nav-container.open #nav-content {
    left: 0;
}

#nav-content ul {
    list-style: none;
    padding: 0;
}

#nav-content li {
    margin: 15px 0;
}

#nav-content li a {
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

#nav-content li a:hover {
    color: #BF7497;
}
